<div class="container">
  <div class="page-header">
    <h4 class="float-left">Employee Directory</h4>
    <img src='../../assets/iOffice-logo-Gray-Pantone.png' id="logo" class="float-right">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Sort by:</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="sort('firstName')">First Name <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="sort('lastName')">Last Name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click)="sort('jobTitle')">Job Title</a>
          </li>
        </ul>
        <nav>
            <ul class="pagination pagination-lg">
              <!-- <li class="page-item"><a class="page-link" (click)="loadNext(startAt, $event)">Previous</a></li> -->
              <li class="page-item"><a class="page-link" (click)="loadNext(0, $event)">1</a></li>
              <li class="page-item"><a class="page-link" (click)="loadNext(50, $event)">2</a></li>
              <li class="page-item"><a class="page-link" (click)="loadNext(100, $event)">3</a></li>
              <!-- <li class="page-item"><a class="page-link" (click)="loadNext(startAt, $event)">Next</a></li> -->
            </ul>
          </nav>
      </div>
    </nav>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Photo</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <a routerLink = "/personDetails/{{person.id}}">
        <td *ngIf='person.imgUrl; else noImage'><img src='{{person.imgUrl}}'></td>
        <ng-template #noImage>
          <td><img id='noImage' src='https://psychiatry.unm.edu/about/FacultyImages/Unknown-Male.jpg'></td>
        </ng-template>
        </a>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.jobTitle}}</td>
      </tr>
    </tbody>
  </table>
</div>
<nav>
    <ul class="pagination pagination-lg float-right">
      <!-- <li class="page-item"><a class="page-link" (click)="loadNext(startAt, $event)">Previous</a></li> -->
      <li class="page-item"><a class="page-link" (click)="loadNext(0, $event)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="loadNext(50, $event)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="loadNext(100, $event)">3</a></li>
      <!-- <li class="page-item"><a class="page-link" (click)="loadNext(startAt, $event)">Next</a></li> -->
    </ul>
  </nav>
